<mat-sidenav-container class="example-container">
  <mat-sidenav mode="over" [(opened)]="isShowing">
    <mat-card>
      <p class="d-inline-block m-0">OpenStreet Maps</p>
      <i class="fa fa-close" (click)="isShowing=!isShowing"></i>
    </mat-card>

    <!-- Initial Header -->
    <p class="secondary-header">Powered By</p>
    <mat-card class="mat-card-border-left">
      <p>Leaflet Maps</p>
    </mat-card>

    <!-- Date Range -->
    <p class="secondary-header">Date Range</p>
    <mat-card>
      <app-date-range-picker></app-date-range-picker>
    </mat-card>

    <!-- City View -->
    <p class="secondary-header">View By City</p>
    <mat-card class="bg-transparent">
      <div class="row">
        <div *ngFor="let city of citiesList" class="col-md-6 col-xs-6 pl-1">
          <button type="button" class="btn btn-light w-100 text-ellipse" data-id={{city.id}}
            value={{city.value}}>{{ city.city }}</button>
        </div>
      </div>
    </mat-card>

    <!-- Days of the Week -->
    <p class="secondary-header">Days Of The Week</p>
    <mat-card class="bg-transparent">
      <form>
        <div class="form-row text-light">
          <div *ngFor="let day of daysList" class="col-md-6 col-xs-6 text-ellipse">
            <input type="checkbox" id="{{ 'checkboxDay' + day.id }}" value={{day.value}}>
            <label class="form-check-label ml-2" for="{{ 'checkboxDay' + day.id }}">{{ day.day }}</label>
          </div>
          <div class="col-md-12">
            <button type="button" class="btn btn-primary mt-4 w-50">Search</button>
          </div>
        </div>
      </form>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <i class="fa fa-bars" (click)="isShowing=!isShowing"></i>
    <app-map></app-map>
  </mat-sidenav-content>
</mat-sidenav-container>